

#eventos{
    padding: 3.7% 10% 5% 5%;
}

.evento{
    background: white;
    padding: 2rem;
    background-color: #fffbed;
    border: 1px solid black;
    margin-bottom: 3rem;
    height: auto;
    word-wrap: break-word;
    overflow: hidden;
    border-radius: 5rem;
    transition: 1s background ease;
}

.evento:hover{
    background-color: #fff7dd;
}

.eventoTitulo{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    transition: 1s color ease;
}

.eventoTitulo:first-letter{
    text-transform: uppercase;
}

.eventoFecha{
    font-size: 1rem;
    font-weight: bold;
}

.cont{
    width: 100%;
    max-width: 65rem;
    display: block;
    margin: auto;
}

.eventoImg{
    width: 15rem;;
    display: block;
    margin: auto;
}


.map{
    width: 100%;
    height: 10rem;
}

.eventoContenido{
    font-size: 1rem;
    text-align: justify;
}


.eventoAutor{
    font-size: 1rem;
    margin-top: 2rem;
}

.eventoNombreAutor{
    font-weight: bold;
    cursor: pointer;
    transition: 1s color ease;
}

.eventoNombreAutor:hover, .eventoTitulo:hover{
    color: #f43333;
}

@media (max-width: 1000px){


    #eventos{
        max-width: 100%;
        grid-area:contenido;
        margin: 0;
        padding: 0;
        display: none;
    }

    .evento{
        border-radius: 0;
        border: 0px solid black;
        margin-top: -3rem;
        border-bottom: 1px solid grey;
    }
    
    .eventoTitulo{
        font-size: 3rem;
    }
    
    .textTipo, .textFechai, .eventoFecha, .textFechaf, .direccioncompleta, .eventoAutor, .participantes{
        font-size: 2rem;
    }
    
    .eventoTitulo, .textTipo, .textFechai, .textFechaf, .direccioncompleta, .eventoAutor, .participantes{
        margin-left: 3rem;
    }
    
    .map{
        height: 20rem;
        margin-left: 1.5rem;
        
    }
    
    
}