

#eventos{
    padding: 3.7% 10% 5% 5%;
}

.evento{
    background: white;
    padding: 2rem;
    background-color: #fffbed;
    border: 1px solid black;
    margin-bottom: 3rem;
    height: auto;
    word-wrap: break-word;
    overflow: hidden;
    border-radius: 5rem;
    transition: 1s background ease;
}

.evento:hover{
    background-color: #fff7dd;
}

.eventoTitulo{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    transition: 1s color ease;
}

.eventoTitulo:first-letter{
    text-transform: uppercase;
}

.eventoFecha{
    font-size: 1rem;
    font-weight: bold;
}

.cont{
    width: 100%;
    max-width: 65rem;
    display: block;
    margin: auto;
}

.eventoImg{
    width: 15rem;;
    display: block;
    margin: auto;
}


.map{
    width: 100%;
    height: 10rem;
}

.eventoContenido{
    font-size: 1rem;
    text-align: justify;
}


.eventoAutor{
    font-size: 1rem;
    margin-top: 2rem;
}

.eventoNombreAutor{
    font-weight: bold;
    cursor: pointer;
    transition: 1s color ease;
}

.eventoNombreAutor:hover, .eventoTitulo:hover{
    color: #f43333;
}