
/*Fuente que implementamos en el título*/
@font-face {
    font-family: "Comica";
    src: url("../uploads/font/CantedComic Regular.otf");
}

/*Cuerpo con fondo white y reseteado*/
body{
    font-family: "Arial", sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

/*Div principal distribuido por header,cuerpo y footer*/
#principal{
    display: grid;
    grid-template-areas: 
        "header"
        "cuerpo"
        "footer";
}

/*Cabecera de móvil y segundo menú oculto*/
#cabeceramv, #segundoMenu{
    display: none;
}

/*Header con su background*/
header{
    grid-area:"header";
    background: #FFF4C8;
    height: 6rem;
    width: 100%;
    margin: auto;
}

/*Navegador de pc*/
#navpc{
    font-family: "Comica", "Arial", sans-serif;
    width: 70rem;
    padding: 1rem;
    margin: auto;
}

/*Logo*/
#facepet{
    width: 17rem;
}

#facepetA{
    float:left;
}

/*Mi perfil*/
.perfil{
    width: 3rem;
    height: 3rem;
    position: relative;
    bottom: 1rem;
    border-radius: 2rem;
}

/*Iconos*/
.mensajes, .notificaciones{
    width: 2rem;
    position: relative;
    bottom: 0.5rem;
}

/*Cada uno de los li's de pc'*/
#navpc li{
    list-style: none;
    float: left;
    padding: 1rem;
    position: relative;
    left: 1rem;
    top: 0.5rem;
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

#navpc li a{
    color: black;
    text-decoration: none;
}

/*Transación de color*/
#navpc li a, #navpc li{
    transition: color 0.5s ease-out;
}
/*color*/
#navpc li a:hover, #navpc li:hover{
    color:#FEBF00;
}

/*Posición menú desplegable*/
header #crear ul{
    opacity: 0;
    display: none;
    position: absolute;
    top: 3rem;
    left: -7.5rem;
    margin: 1rem;
    height: 20rem;
    transition: opacity 1s ease;
}

/*Li de submenú de #crear*/
header #navpc #crear ul li{
    width: 10rem;
    background: #FFF4C8;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

header #navpc #crear ul li:last-child{
    border-bottom: 1px solid black;
}

header:hover > #navpc #crear ul, header:hover #navpc #liUsuario ul{
    display: block;
}

#navpc #crear:hover > ul{
    opacity: 1;
}

/*Notificaciones*/
li .alerta{
    background: red;
    padding: 1px 3px 1px 3px;
    position: absolute;
    bottom: 2rem;
    left: 2.5rem;
    color: white;
}

/*Mi nombre*/
#navpc li #nombreUsuario{
    position: relative;
    bottom: 2rem;
    left: 1rem;
}

/*Flecha abajo*/
#abajo{
    width: 1rem;
    position: relative;
    left: 1.2rem;
    bottom: 1.8rem;
}

#liUsuario ul{
    opacity: 0;
    display: none;
    transition: opacity 1s ease-out;
}

#liUsuario:hover > ul{
    opacity: 1;
}

#liUsuario ul li{
    width: 10rem;
    position: absolute;
    top: 4.5rem;
    background: #FFF4C8;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.titleSeccion{
    font-family: "Comica","Arial",sans-serif;
    font-size: 3rem;
}

/*Vista tablet*/
@media(max-width: 1250px){

    #navpc li{
        font-size: 1rem;
    }

    .mensajes, .notificaciones{
        width: 1.8rem;
    }

}

/*Vista móvil*/
@media(max-width: 1000px){

    /*100% de espacio*/
    header{
        width: 100%;
        height: 100%;
        transition: height 1s ease;
    }

    /*Logo movil*/
    #facepetAMV{
        padding: 3rem;
    }

    /*Nav pc oculto*/
    #navpc, #navmv{
        display: none;
    }

    /*Mostramos la cabecera de movil*/
    #cabeceramv{
        display: block;
    }

    /*Tamaños mas grandes centrado de logo*/
    #facepetMV, #facepetAMV{
        display: block;
        margin: auto;
        width: 40rem;
    }

    /*Menú de hamburguesa*/
    #hamburguesa{
        padding: 2rem;
    }

    /*Menú botón*/
    .botonMenu{
        width: 70px;
        height: 60px;
        padding: 10px;
        border-radius: 7px;
        background: #666;
        color: white;
        cursor: pointer;
        position: relative;
    }

    /*Tamaño*/
    .botonMenu span{
        display: block;
        width: 70px;
        height: 5px;
        background: white;
        margin-top: 12px;
    }

    label{
        cursor: pointer;
    }

    #menu-toggle{
        display: none;
    }

    /*Menú oculto*/
    #trickMenu{
        font-family: "Comica", "Arial", sans-serif;
        display: none;
        background: white;
    }

    #trickMenu li{
        list-style: none;
        font-weight: bold;
        font-size: 3rem;
    }

    #trickMenu li:nth-child(even){
        background: red;
    }

    #trickMenu a{
        padding: 1.5rem;
        color: black;
        text-decoration: none;
    }

    #menu-toggle:checked + #trickMenu{
        display: block;
    }

    /*Segundo menú móvil*/
    #sMenu{
        background: white;
        border-top: 1px solid black;
        box-shadow: 5px 10px;
        position: fixed;        
        bottom: 0;
        width: 100%;
        display: flex;
    }

    /*Div de segundo menu*/
    #segundoMenu{
        display: block;
        margin: auto;
        margin-top: 1rem;
    }

    /*Notificaciones*/
    .icono .alerta{
        display: none;
        left: 6rem;
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    /*Aumentamos tamaños*/

    #segundoMenu li{
        list-style: none;
        float: left;
        padding: 1rem;
        position: relative;
        top: 0.5rem;
        margin-left: 0.5rem;
        font-weight: bold;
        font-size: 1.2rem;
    }

    #liUsuario a{
        text-decoration: none;
    }

    .perfil{
        width: 6rem;
        height: 6rem;
    }

    .mensajes, .notificaciones, .cerrarsesion{
        width: 6rem;
        margin-right: 5rem;
    }

    .cerrarsesion{
        position: relative;
        bottom: 0.5rem;
    }
    
    .titleSeccion{
        font-size: 4rem;
    }

}