
body{
    font-family: "Arial", sans-serif;
    background: #f4f4f4;
}

#principal{
    display: grid;
    grid-template-areas: 
        "header"
        "cuerpo"
        "footer";
}

#cabeceramv{
    display: none;
}

header{
    grid-area:"header";
    background: #FFF4C8;
    height: 6rem;
    width: 100%;
    margin: auto;
}

#navpc{
    width: 70rem;
    padding: 1rem;
    margin: auto;
}

#facepet{
    width: 17rem;
}

#facepetA{
    float:left;
}

#perfil{
    width: 3rem;
    position: relative;
    bottom: 1rem;
    border-radius: 2rem;
}

#mensajes, #notificaciones{
    width: 2rem;
    position: relative;
    bottom: 0.5rem;
}

#navpc li{
    list-style: none;
    float: left;
    padding: 1rem;
    position: relative;
    left: 1rem;
    top: 0.5rem;
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

#navpc li a{
    color: black;
    text-decoration: none;
}

#navpc li a, #navpc li{
    transition: color 0.5s ease-out;
}

#navpc li a:hover, #navpc li:hover{
    color:#FEBF00;
}

header #crear ul{
    opacity: 0;
    display: none;
    position: absolute;
    top: 3rem;
    left: -7.5rem;
    margin: 1rem;
    height: 20rem;
    transition: opacity 1s ease;
}

header #navpc #crear ul li{
    width: 10rem;
    background: #FFF4C8;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

header #navpc #crear ul li:last-child{
    border-bottom: 1px solid black;
}

header:hover > #navpc #crear ul, header:hover #navpc #liUsuario ul{
    display: block;
}

#navpc #crear:hover > ul{
    opacity: 1;
}

#navpc li .alerta{
    background: red;
    padding: 1px 3px 1px 3px;
    position: absolute;
    bottom: 2.7rem;
    left: 2.5rem;
    color: white;
}


#navpc li #nombreUsuario{
    position: relative;
    bottom: 2rem;
    left: 1rem;
}

#abajo{
    width: 1rem;
    position: relative;
    left: 1.2rem;
    bottom: 1.8rem;
}

#liUsuario ul{
    opacity: 0;
    display: none;
    border-bottom: 1px solid black;
    transition: opacity 1s ease-out;
}

#liUsuario:hover > ul{
    opacity: 1;
}

#liUsuario ul li{
    width: 10rem;
    position: absolute;
    top: 4.5rem;
    background: #FFF4C8;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

@media(max-width: 1250px){

    #navpc li{
        font-size: 1.1rem;
    }

    #mensajes, #notificaciones{
        width: 1.8rem;
    }

}

@media(max-width: 1000px){

    header{
        width: 100%;
        height: 100%;
        transition: height 1s ease;
    }
    
    #facepetAMV{
        padding: 3rem;
    }

    #navpc, #navmv{
        display: none;
    }
    
    #cabeceramv{
        display: block;
    }

    #facepetMV, #facepetAMV{
        display: block;
        margin: auto;
        width: 40rem;
    }
    
    #hamburguesa{
        padding: 2rem;
    }

    .botonMenu{
        width: 70px;
        height: 60px;
        padding: 10px;
        border-radius: 7px;
        background: #666;
        color: white;
        cursor: pointer;
        position: relative;
    }

    .botonMenu span{
        display: block;
        width: 70px;
        height: 5px;
        background: white;
        margin-top: 12px;
    }

    label{
        cursor: pointer;
    }

    #menu-toggle{
        display: none;
    }

    #trickMenu{
        display: none;
        background: white;
    }
    
    #trickMenu li{
        list-style: none;
    }

    #trickMenu a{
        padding: 10px 0;
        color: black;
        text-decoration: none;
    }

    #menu-toggle:checked + #trickMenu{
        display: block;
    }

}