/*Cuerpo dividido compuesto primero por la cabecera del perfil, después por los amigos en la izquierda, 
y en la derecha encima los botones y abajo el contenido*/
#cuerpo{
    display: grid;
    margin: auto;
    grid-template-areas: 
        "cabeceraPerfil cabeceraPerfil"
        "amigosPerfil botones"
        "amigosPerfil contenido";
    grid-template-columns: 30% 70%;
    grid-template-rows: 28rem;
    width: 100%;
    min-height: 46rem;
    background: white;
}

/*La cabecera de nuestro perfil*/
#cabeceraPerfil{
    grid-area: cabeceraPerfil;
    margin-top: 1.5rem;
    background: #fffbed;
    border: 1px solid #999999;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
    transition: 1s background ease;
}

#cabeceraPerfil:hover{
    background: #fff7dd;
}

/*Botones para interactuar*/
#botones{
    grid-area:botones;
    margin-left: 10rem;
    margin-right: 4rem;
}

/*Texto de no disponible*/
.noHay{
    padding-left: 4rem;
    display: block;
    margin: auto;
    width: 40rem;
    text-align: center;
}

/*Botones de móvil ocultos*/
#botonesM{
    display: none;
}

/*Cada uno de los botones*/
.boton{
    width: 100%;
    display: block;
    margin: auto;
    font-weight: bold;
    background-color: #FFED91;
    height: 5rem;
    font-size: 2rem;
    transition: 1s background ease;
    border-radius: 2rem;
    cursor: pointer;
}

.texto{
    margin-top: 2rem;
    margin-bottom: -0.5rem;
    text-align: center;
}

/*Imagen de mi perfil*/
#imgPerfil{
    width: 15rem;
    height: 15rem;
    border-radius: 8rem;
    padding: 1rem;
    transition: opacity 1.5s ease;
    z-index: 2;
}

#contenidoPerfil:hover > #imgPerfil {
    opacity: 0.3;
}

#contenidoPerfil form{
    position: absolute;
}

#contenidoPerfil:hover > #textCambiarAvatar{
    opacity: 0.9;
}

/*Cambiar avatar*/
#textCambiarAvatar{
    position: relative;
    font-weight: bold;
    font-size: 1.4rem;
    top:9.5rem;
    left: 3rem;
    opacity: 0;
    z-index: 1;
    transition: opacity 1.5s ease;
}


/*Cambiar foto de perfil*/
#cambiarImagen{
    display: block;
    margin: auto;
}

#cambiarImagen{
    /* padding-bottom: 8rem;*/
    padding-bottom: 3rem;
    text-align: center;
    background: white;
    border: 1px solid #BBBBBB;
    /*position:fixed; 
    right:50%; 
    margin-right:-500px; 
    margin-top: 10rem;*/
}

#cambiarImagen h1{
    font-size: 3rem;
}

#cambiarImagen input{
    cursor: pointer;
    font-size: 1.5rem;
}

#cambiarImagen #idusu{
    display: none;
}

#cambiarImagen #enviarImagen{
    cursor: pointer;
    background-color: #FFED91;
    height: 3rem;
    font-size: 2rem;
    margin-top: 1.5rem;
}

#cambiarImagen #cerrarCambiarAvatar{
    cursor: pointer;
    margin: 5rem;
}

/*Contenido del perfil*/
#contenidoPerfil{
    width: 15rem;
    margin-left: 15rem;
    cursor: pointer;
}

/*Datos*/

#datos{
    position: relative;
    top: 6.5rem;
    left: 3rem;
}

#animalRaza{
    position: relative;
    bottom: 1rem;
}

#localidadPerfilUsuario{
    position: relative;
    bottom: 1rem;
}

#descripcion{
    padding: 2rem;
}

#nombrePerfilUsuario{
    font-weight: bold;
    font-size: 2rem;
}

#nombrePerfilUsuario:first-letter{
    text-transform: uppercase;
}

/*Div de los perfiles de nuestros amigos*/

#amigosPerfil{
    grid-area: amigosPerfil;
    margin-left: 3rem;
    overflow: auto;
    padding-right: 4rem;
    height: 100%;
}

/*Scroll del div de amigos*/

#amigosPerfil::-webkit-scrollbar {
    width: 1rem;     /* Tamaño del scroll en vertical */
    height: 1rem;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

/*Cada uno de los perfiles de nuestros amigos*/
.amigoPerfil{
    display: grid;
    grid-template-areas: 
        "imagenAmigo informacionAmigo eliminarAmigo";
    grid-template-columns: 40% 60%;
    border: 1px solid #999999;
    background: #fffbed;
    cursor: pointer;
    transition: 1s background ease;
}

.amigoPerfil:hover{
    background: #fff7dd;
}

.amigoPerfil:hover > .botonEliminarA{
    background: #fff7dd;
}

.amigoPerfil:last-child{
    margin-bottom: 5rem;
}

/*Imagen de nuestros amigos*/
.imagenAmigo{
    width: 6rem;
    height: 6rem;
    border-radius: 4rem;
    margin: 1rem;
}

/*Datos amigos*/
.nombreAmigo:first-letter{
    text-transform: uppercase;
}

.nombreAmigo{
    font-weight: bold;
}

.informacionAmigo{
    margin-top: 1.5rem;
    margin-right: 1rem;
}

/*Botón para eliminar amigo*/
.botonEliminarA{
    grid-area: eliminarAmigo;
    width: 4rem;
    display: block;
    float: right;
    cursor: pointer;
    transition: 1s background ease;
}

.botonEliminarA{
    background: red;
}

.amigoEliminar{
    width: 3rem;
}

.botonEliminar, .botonEliminarA{
    background: #fffbed;
    float: right;
    margin-right: 2rem;
}

.botonEliminar{
    margin-top: 1rem;
}

/*Contenido de nuestro perfil*/
#contenido{
    grid-area:contenido;
}

/*Titulos*/
#titularAmigosPerfil,#titularPosts{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

/*Cada uno de nuestros posts*/
.post{
    margin-left: 5rem;
}

/*Cada evento*/

.evento{
    margin-left: 4rem;
}

/*Vista móvil*/
@media (max-width:1000px){
    /*Cuerpo con distribución móvil*/
    #cuerpo{
        grid-template-areas: 
            "cabeceraPerfil"
            "botonesM"
            "amigosPerfil"
            "contenido";
        grid-template-columns: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 10rem;
    }

    #contenidoPerfil, #datos{
        margin-left: 4rem;
    }

    #botones{
        display: none;
    }

    /*Botones de móvil*/
    #botonesM{
        display: block;
        grid-area: botonesM;
        margin: 3rem;
        margin-bottom: 6rem;
    }

    .boton{
        font-size: 3rem;
    }
    
    /*Ocultamos botón post*/
    #botonPostsM{
        display: none;
    }
    
    #contenido{
        margin: 0;
        padding: 0;
    }
    
    /*Todos los posts*/
    .post{
        border-radius: 0;
        border: 0px solid black;
        border-bottom: 1px solid grey;
        margin-top: -3rem;
    }
    
    .postUsuario{
        margin-left: 2rem;
    }
    
    .postCont{
        margin-left: 2rem;
    }
    
    #amigosPerfiles{
        display: none;
    }

    /*Aumentamos tamaños*/
    #amigosPerfil, #amigosPerfiles, .amigoPerfil{
        margin: 0;
        width: 94%;
        margin: auto;
    }

    .imagenAmigo{
        width: 10rem;
        height: 10rem;
        margin-left: 20%;
    }

    .amigoPerfil p{
        font-size: 2rem;
    }

    .amigoPerfil{
        margin-top: 0.5rem;
    }

    #datos{
        position: relative;
        top: 4rem;
    }

    #nombrePerfilUsuario{
        font-size: 3rem;
        margin-top: 1rem;
    }

    #contenido{
        margin-left: -7rem;
    }

    #animalRaza, #localidadPerfilUsuario{
        font-size: 1.75rem;
    }

}
