#posts{
    grid-area: posts;
    padding: 2.5% 5% 5% 8%;
}

#name{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.post{
    min-height: 29rem;
    background-color: #fffbed;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 1px solid black;
}

.postEliminar{
    width: 3rem;
    display: block;
    float: right;
    cursor: pointer;
}

.imagenUsuario{
    width: 3rem;
    border-radius: 3rem;
}

.nombreUsuario{
    position: relative;
    bottom: 1.5rem;
    left: 1rem;
    font-weight: bold;
}

.postFecha{
    font-size: 0.8rem;
    position: relative;
    bottom: 2rem;
    left: 4rem;
}

.postCont{
    position: relative;
    bottom: 3rem;
}

.postTitulo{
    grid-area: titulo;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.postContenido{
    text-align: justify;
    margin: 1rem;
    font-size: 1rem;
}

.postImg{
    width: 20rem;
    float:left;
    margin: 0 1rem 1rem 1rem;
}

.postBottom{
    clear: both;
}

.postLikes{
    font-weight: bold;
    margin: 1rem;
}

.iconos{
    margin: 1rem;
}

.postCorazonImg, .postComentarioImg{
    width: 2rem;
    padding-right: 1rem;
}

@media (max-width: 1000px){

    .post{
        min-height: 50rem;
    }

    .postEliminar{
        width: 6rem;
    }

    .imagenUsuario{
        width:7rem;
    }

    .nombreUsuario, .postFecha{
        position: relative;
        bottom: 3.5rem;
    }

    .postFecha{
        left: 8rem;
    }

    .postImg{
        width: 25rem;
    }

    .postBottom{
        clear: both;
    }

    .postCorazonImg, .postComentarioImg{
        width: 5rem;
        padding-right: 2rem;
    }

}