#cadPosts{
    display: none;
}

#posts, #contenido{
    grid-area: posts;
    padding: 2.5% 5% 5% 8%;
}

.tituloseccion{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.post{
    background-color: #fffbed;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5rem;
    transition: 1s background ease;
}

.post:hover{
    background-color: #fff7dd;
}

.postUsuario{
    cursor: pointer;
}

.postEliminar{
    width: 3rem;
    display: block;
    float: right;
    cursor: pointer;
}

.imagenUsuario{
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    margin-left: 1rem;
    float: left;
    transition: 1s opacity ease;
}

.imagenUsuario:hover{
    opacity: 0.7;
}

.nombreUsuario{
    font-weight: bold;
    position: relative;
    top: 1rem;
    left: 1rem;
    margin-left: 5rem;
    margin-right: 20rem;
    transition: 1s color ease;
}

.nombreUsuario:hover{
    color: #f43333;
}

.nombreUsuario:first-letter, .postTitulo:first-letter, .postContenido:first-letter{
    text-transform: uppercase;
}

.postFecha{
    font-size: 0.8rem;
    position: relative;
    top: 0.5rem;
    left: 1rem;
    margin-left: 5rem;
    margin-right: 20rem;
}

.postCont{
    padding-bottom: 3rem;
}

.postTitulo{
    grid-area: titulo;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.postContenido{
    text-align: justify;
    margin: 1rem;
    font-size: 1rem;
}

/*.postImg{
    width: 20rem;
    max-height: 40rem;
    float:left;
    margin: 0 1rem 1rem 1rem;
}*/

.postImg{
    width: 95%;
    max-height: 40rem;
    display: block;
    margin: auto;
}

.postBottom{
    clear: both;
}

.postLikes{
    font-weight: bold;
    margin: 1rem;
}

.iconos{
    margin: 1rem;
}

.postCorazonImg, .postComentarioImg{
    width: 2rem;
    padding-right: 1rem;
    cursor: pointer;
    transition: 1s width ease;
}

.postCorazonImg:hover, .postComentarioImg:hover{
    width: 2.5rem;
}

.comentariosPost{
    position: absolute;
    cursor: pointer;
    margin-left: 1rem;
    color: grey;
    font-size: 1.1rem;
}

@media (max-width: 1000px){

    #posts{
        margin: 0;
        padding: 0;
    }

    .postEliminar{
        width: 6rem;
    }

    .imagenUsuario{
        width:8rem;
        height: 8rem;
    }

    .nombreUsuario, .postFecha{
        /*position: relative;
        bottom: 3.5rem;*/
        margin-right: 0rem;
        font-size: 2rem;
    }

    .postFecha{
        position: relative;
        bottom: 1rem;
    }

    .postTitulo{
        padding-top: 2rem;
        padding-bottom: 3rem;
        font-size: 3rem;
    }

    .postImg{
        width: 96%;
        margin: 1rem;
    }

    .postContenido{
        font-size: 2rem;
    }

    .postLikes{
        font-size: 2rem;
    }

    .postBottom{
        clear: both;
    }

    .postCorazonImg, .postComentarioImg{
        width: 5rem;
        padding-right: 2rem;
    }
    .postCorazonImg:hover, .postComentarioImg:hover{
        width: 6rem;
    }


    .comentariosPost{
        font-size: 2.5rem;
    }

}